<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT crane ANY>
<!ATTLIST crane id ID #REQUIRED>
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT categories ANY>
<!ATTLIST categories id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT cranes ANY>
<!ATTLIST cranes id ID #REQUIRED>
<!ELEMENT contactPerson ANY>
<!ATTLIST contactPerson id ID #REQUIRED>
<!ELEMENT contactPeople ANY>
<!ATTLIST contactPeople id ID #REQUIRED>
]>
<root id="-1">
  <home id="1059" key="706ab8c2-866c-4e18-a9c6-dfde5a1e686c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-31T08:25:05" updateDate="2018-08-31T08:25:05" nodeName="Home" urlName="home" path="-1,1059" isDoc="" nodeType="1058" creatorName="Gert Odendaal" writerName="Gert Odendaal" writerID="0" template="0" nodeTypeAlias="home" isPublished="true">
    <categories id="1060" key="c7f7922c-996b-4455-a78d-f5b0b628d6f2" parentID="1059" level="2" creatorID="0" sortOrder="0" createDate="2018-08-31T08:25:30" updateDate="2018-08-31T08:25:30" nodeName="Categories" urlName="categories" path="-1,1059,1060" isDoc="" nodeType="1057" creatorName="Gert Odendaal" writerName="Gert Odendaal" writerID="0" template="0" nodeTypeAlias="categories" isPublished="true">
      <category id="1074" key="e1a0ad31-bb90-4ad8-a803-c2ce628e131b" parentID="1060" level="3" creatorID="0" sortOrder="0" createDate="2018-08-31T08:46:29" updateDate="2018-08-31T08:46:29" nodeName="Small Cranes" urlName="small-cranes" path="-1,1059,1060,1074" isDoc="" nodeType="1056" creatorName="Gert Odendaal" writerName="Gert Odendaal" writerID="0" template="0" nodeTypeAlias="category" isPublished="true">
        <categoryImage><![CDATA[umb://media/6bdf1c316b0c4d75981689f19f673384]]></categoryImage>
      </category>
      <category id="1075" key="95223728-5b60-4074-8e23-0118be8e9ca2" parentID="1060" level="3" creatorID="0" sortOrder="1" createDate="2018-08-31T08:46:46" updateDate="2018-08-31T08:46:46" nodeName="Big Cranes" urlName="big-cranes" path="-1,1059,1060,1075" isDoc="" nodeType="1056" creatorName="Gert Odendaal" writerName="Gert Odendaal" writerID="0" template="0" nodeTypeAlias="category" isPublished="true">
        <categoryImage><![CDATA[umb://media/593ebd9c471b49bbb24e32d0e4a46179]]></categoryImage>
      </category>
      <category id="1076" key="9faebd03-8ec7-47cd-a0fd-bec9872be57b" parentID="1060" level="3" creatorID="0" sortOrder="2" createDate="2018-08-31T08:47:08" updateDate="2018-08-31T08:47:12" nodeName="Crane Trucks, Rigging and Other Equipment" urlName="crane-trucks-rigging-and-other-equipment" path="-1,1059,1060,1076" isDoc="" nodeType="1056" creatorName="Gert Odendaal" writerName="Gert Odendaal" writerID="0" template="0" nodeTypeAlias="category" isPublished="true">
        <categoryImage><![CDATA[umb://media/19e1e6b8cfa940b8878437d746b77d7e]]></categoryImage>
      </category>
    </categories>
    <cranes id="1064" key="5b047e5e-bb29-43e7-8a33-1c75d4ce87c9" parentID="1059" level="2" creatorID="0" sortOrder="1" createDate="2018-08-31T08:27:30" updateDate="2018-08-31T08:27:30" nodeName="Cranes" urlName="cranes" path="-1,1059,1064" isDoc="" nodeType="1063" creatorName="Gert Odendaal" writerName="Gert Odendaal" writerID="0" template="1062" nodeTypeAlias="cranes" isPublished="true">
      <crane id="1080" key="50898353-ac26-420f-a810-2a0079068de8" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2018-08-31T09:04:34" updateDate="2018-08-31T09:04:34" nodeName="90 Ton – C16" urlName="90-ton-c16" path="-1,1059,1064,1080" isDoc="" nodeType="1051" creatorName="Gert Odendaal" writerName="Gert Odendaal" writerID="0" template="0" nodeTypeAlias="crane" isPublished="true">
        <craneImage><![CDATA[umb://media/e5edebaa39d740bda2df111075e45134]]></craneImage>
        <numberOfAxles>4</numberOfAxles>
        <description><![CDATA[Latest in All Terrain design. Torsion resistant, welded frame made from high-strength, fine-grained steel.4 point, double telescopic hydraulic outriggers. Mercedes Benz 6-cylinder water-cooled diesel engine.]]></description>
        <model><![CDATA[ATF 90-4]]></model>
        <category><![CDATA[umb://document/952237285b6040748e230118be8e9ca2]]></category>
        <boomLength>51.2</boomLength>
        <type><![CDATA[ALL TERRAIN]]></type>
      </crane>
    </cranes>
    <contactPeople id="1070" key="9ac26121-e430-4938-bdeb-52db1b23079d" parentID="1059" level="2" creatorID="0" sortOrder="2" createDate="2018-08-31T08:40:12" updateDate="2018-08-31T08:40:12" nodeName="Contact People" urlName="contact-people" path="-1,1059,1070" isDoc="" nodeType="1069" creatorName="Gert Odendaal" writerName="Gert Odendaal" writerID="0" template="0" nodeTypeAlias="contactPeople" isPublished="true">
      <contactPerson id="1082" key="88c794bc-4f9b-458c-9af2-9bce749c30b1" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2018-08-31T09:09:52" updateDate="2018-08-31T09:10:17" nodeName="Paul Chimes" urlName="paul-chimes" path="-1,1059,1070,1082" isDoc="" nodeType="1065" creatorName="Gert Odendaal" writerName="Gert Odendaal" writerID="0" template="0" nodeTypeAlias="contactPerson" isPublished="true">
        <email><![CDATA[paul@chimes.co.za]]></email>
        <profileImage><![CDATA[umb://media/abe2ad4c9ff34e59b20972db4e40237e]]></profileImage>
        <mobile><![CDATA[+27 11 626 1110]]></mobile>
        <title><![CDATA[CA(SA) Managing Director]]></title>
      </contactPerson>
    </contactPeople>
  </home>
</root>